# Core Assignment 3 - Books

## Assignment

Consider the following "flat" file that a start-up has just started using for its first customers: Client's Original File. They quickly realized that saving this information in .csv format will not meet their needs as they grow. First, consider how you would design a relational database to meet their needs. Be sure to consider conventions of normalization and what information should be separated.

## Part 1 - Design an ERD

![png](books_ERD_DB.PNG)

## Part 2 - Create the Database in Python

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

### Create the Engine

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root"
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)

### Create Database

In [4]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [5]:
#Create dataframes from the 4 csv files
users_df = pd.read_csv('Data/users.csv')
authors_df = pd.read_csv('Data/authors.csv')
books_df = pd.read_csv('Data/books.csv')
favorites_df = pd.read_csv('Data/favorites.csv')

In [6]:
#Update the database tables with data from the imported dataframes
users_df.to_sql('users', engine, if_exists = 'replace')
authors_df.to_sql('authors', engine, if_exists = 'replace')
books_df.to_sql('books', engine, if_exists = 'replace')
favorites_df.to_sql('favorites', engine, if_exists = 'replace')

7

### Test the Database

In [7]:
#Verify all four tables show up in the database
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [8]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites on books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id 
    FROM users
    WHERE (users.last_name = "Doe" AND users.first_name = "John"))"""
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

### Export Database

Database exported in Data folder.